@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Inter", sans-serif;

    --color-main: #E6E9F2;
    --color-second: #FFFFFF;
    --color-third: #F4F4F4;
    --color-four: #B4B4B4;
    --color-five: #034C8C;
    --color-six: #0C2C40;
}
